[user]
	email = danilo_fuchs@hotmail.com
	name = Danilo Campana Fuchs
[core]
	editor = vim

[commit]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate